<div class="loginPage">
  <div class="container">
    <div class="loginPage_contents">
      <h1 class="h4 loginPage_contents_title">お仕事のマッチングサポート</h1>
      <%# <p>〜〜</p> %>
      <%= link_to "ログイン", new_user_session_path, class: "btn loginPage_contents_btn" %>
    </div>
  </div>
</div>